/* global css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.primary-btn{
    background-color: #F15B22;  
    padding: .7rem 1rem;
    border: 0;
    border-radius: .2rem;
}
.primary-btn a{
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 500;
}

/* all color property  */
/* blak-color : color: #151414; */
/* red color : colro : #F15B22; */
/* gray color : color: #737272; */
/* white color color: #FFFFFF; */

/* banner part css start  */
.banner{
    background-image: url(../images/banner/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 10% 10% 60%;
    text-align: right;
}
.section-title{
    font-size: 3rem;
    color: #151414;  
    font-weight: 700;  
}
.section-description{
    font-size: .9rem;
    padding: 1.2rem 0;
    line-height: 1.4rem;
    color: #737272;
}

/* failures section css start  */
.failures{
    display: flex;
    padding: 6rem 2rem;
    justify-content: center;
    gap: 4rem;
}
.failures-img{
    width: 40%;
    text-align: right;
    /* padding-right: 2rem; */
    /* background-color: aqua; */
}
.failures-content{
    width: 25%;
    margin-top: 6rem;
    padding-top: 6rem;
    padding-right: 1rem;
    /* background-color: bisque; */
    margin-right: 6rem;
}
.failures-img img{
    width: 75%;
}
.failures-content .section-title{
    font-size: 1.9rem;
}
.failures-content .section-description{
    font-size: .8rem;
    margin-bottom: -.2rem;
}
.failures-content ul li{
    font-size: .8rem;
    margin: .4rem 0;
    color: #737272;
}

/* planes section css start */
.planes{
    text-align: center;
}
.planes .section-title{
    font-size: 2.2rem;
    
}
.planes-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 20%;
}

.plane .plane-title{
    font-size: 1.3rem;
    color: #151414;  
    font-weight: 700; 
    padding: 1.2rem 0 .8rem;
}

.plane .plane-description {
    font-size: 1.2rem;
    font-weight: 600;
    color: #737272;
}

/* call now section css start */
.call-now-banner{
    /* background-color: aqua; */
    width: 60%;
    margin: 4rem auto;
    padding: 2.3rem 3rem;
    background-image: url('../images/watch.png'), url('../images/gradient2.png');
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    border-radius: .3rem;
    background-position: center;
    background-size: cover;
    
}
.call-now-content{
    width: 50%;
}
.call-now-title{
    font-size: 2.2rem;
    color: #FFFFFF;
    font-weight: 700;  
    margin: .8rem 0 1.5rem;
}
.call-now-btn{
    background-color: #fff; 
    border: 0;
    border-radius: .2rem;
    padding: .9rem 1.5rem;
}
.call-now-btn a{
    color: #F15B22;
    font-size: 1.1rem;
    font-weight: 500;
}
