/* global css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.primary-btn{
    background-color: #F15B22;
    
    padding: .7rem 1rem;
    border: 0;
    border-radius: .2rem;
}
.primary-btn a{
    color: #FFFFFF;
}

/* all color property  */
/* blak-color : color: #151414; */
/* red color : colro : #F15B22; */
/* gray color : color: #737272; */
/* white color color: #FFFFFF; */

/* banner part css start  */
.banner{
    background-image: url(../images/banner/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 10% 10% 60%;
    text-align: right;
}
.section-title{
    font-size: 3rem;
    color: #151414;  
    font-weight: 700;  
}
.section-description{
    font-size: .9rem;
    padding: 1.2rem 0;
    line-height: 1.4rem;
    
}


